@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");



#heading {
	text-align:center;
}

.list {
	background-color: #D3D3D3;
	margin-bottom:1em;
	text-size:12px;
	border-radius: 15px;
}

.raty {
	fill:orange;
}

i{
	display:inline-block;

}


#bleh {
	display:inline-block;
}

.fa-fw {
	font-size: 20px;
	color: orange;
}

.clickable {
	cursor: pointer;
	float:right;
	margin-top: 20px;
	color: orange;
	font-size: 18px;
}

@media screen and (min-width: 768px ) {
	#heading {
		text-alight:left;
	}

}